# Example cat output
# - {{ $X := cat "{" "{ cat  .Home \"/.vagrant.d/insecure_private_key\" }" "}" }}{{ $X }}
# - {{ cat  .Home "/.vagrant.d/insecure_private_key" }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{.GlusterFsVolSecretName}}
type: "kubernetes.io/gluster-vol"
data:
  glusterd.vol: {{ file2string "glusterd.vol" | base64Encode }}

---
apiVersion: v1
kind: Secret
metadata:
  name: {{.HeketiConfigSecretName}}
type: "kubernetes.io/heketi-config"
data:
  heketi_key: {{ cat  .Home "/.vagrant.d/insecure_private_key"| file2string | base64Encode }}
  heketi_key.pub: {{ cat .Home "/.vagrant.d/insecure_private_key" | file2string | publicKey | base64Encode }}
  authorized_keys: {{ cat .Home "/.vagrant.d/insecure_private_key" | file2string | publicKey | base64Encode }}
  heketi.json: {{ file2string "appl/heketi.json" | base64Encode }}
  topology.json: {{ file2string "appl/topology.json" | base64Encode }}
  config: {{ file2string "dot.ssh/config" | base64Encode }}
  heketi-configure.sh: {{ file2string "heketi-configure.sh" | base64Encode }}
  heketi.service: {{ file2string "heketi.service" | base64Encode }}
  heketi.environment: {{ file2string "appl/heketi.environment" | base64Encode }}

---
apiVersion: v1
kind: Secret
metadata:
  name: {{.HeketiSshSecretName}}
type: "kubernetes.io/heketi-ssh"
data:
  heketi_key: {{ cat .Home "/.vagrant.d/insecure_private_key" | file2string | base64Encode }}
  heketi_key.pub: {{ cat .Home "/.vagrant.d/insecure_private_key" | file2string | publicKey | base64Encode }}
  authorized_keys: {{ cat .Home "/.vagrant.d/insecure_private_key" | file2string | publicKey | base64Encode }}
  heketi.json: {{ file2string "appl/heketi.json" | base64Encode }}
  config: {{ file2string "dot.ssh/config" | base64Encode }}
  sshd_config: {{ file2string "dot.ssh/sshd_config" | base64Encode }}

# local variables:
# mode: yaml
# end:
